@import 'modules/base';
@import 'modules/normalize';
body{
    display: grid;
    grid-template-columns: 250px, 1fr, 250px;
    grid-template-rows: 450px, 1fr;
    justify-content: center;
    align-content: center;
    background:url(/images/bg-pattern.svg) $Very-Pale-Blue top left no-repeat;
    font-size: 15px;
}
.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(/images/pattern-circles.svg) top center no-repeat;
    background-size: contain;
    height: 150px;
    margin: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__txt{
      font-family: $f-f;
      margin-top: 2.5rem;
    }
     &__h1{
      font-weight: $fw-b;
      color: $Dark-Desaturated-Blue;
      font-size: 2.5vw;
      padding-left: 1.1rem;
    }
    &__h3{
      font-weight: $fw-l;
      color: $Grayish-Blue;
      font-size: 1.2vw;
    }
}
.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: $Very-Pale-Blue;
    box-shadow: 0px 0px 20px 0px rgba(133, 143, 173, 0.1);
    border-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2, 70px) 90px;
    font-family: $f-f;
    &__page{
        margin: 3rem;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-between;
        color: $Grayish-Blue;
    }
   
    &__dollar {
       font-size: 2.7rem;
       font-weight: $fw-b;
       color: $Dark-Desaturated-Blue;
    }
    &__pageview {
       margin-top: 1rem;
    }
    &__pageviews {
       text-transform: uppercase;   
    }
    #pageview{
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
    #period {
        color: $Grayish-Blue;
    }
    #price {
        font-size: 2.7rem;
        font-weight: $fw-b;
        color: $Dark-Desaturated-Blue;
    }
    &__slider {
        margin: 3rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
         input {
           background: linear-gradient(to right,$Strong-Cyan 0%,$Strong-Cyan 50%,#eaeefb 50%,#eaeefb 100%);
            border-radius: 8px;
            height: 8px;
            width: 100%;
            border-radius: 4px;
            outline: none;
            transition: all 450ms ease-in;
            -webkit-appearance: none;
         &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: url(/images/icon-slider.svg) $Strong-Cyan center no-repeat;
      box-shadow: 0px 10px 20px 0px rgba(16, 213, 194, 0.7);
      cursor: pointer;
      position: relative;
      transition: all 0.2s;
      &:hover {
        background: url(/images/icon-slider.svg)
          rgb(27, 230, 209) center no-repeat;
      }
      &:active {
        cursor: grabbing;
        background: url(/images/icon-slider.svg)
          rgb(13, 190, 173) center no-repeat;
      }
    }
  }
}
    &__toggle {
       margin: 3rem;
       grid-column: 1 / 3;
       grid-row: 3 / 4;
       display: flex;
       justify-self: flex-end;
       align-items: center;
       color: $Grayish-Blue;
       font-size: 0.85em;
    }
    &__switch {
      position: relative;
      width: 38px;
      height: 20px;
      margin: 0 15px;
 
      .slide {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $Light-Grayish-Blue;
        transition: 0.2s;
        &:hover {
          background-color: $Soft-Cyan;
        }

        &:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        &.round {
          border-radius: 34px;
        }

        &.round:before {
          border-radius: 50%;
        }
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      input:checked + .slide {
        background-color: $Strong-Cyan;
      }

      input:focus + .slide {
        box-shadow: 0 0 1px $Strong-Cyan;
      }

      input:checked + .slide:before {
        transform: translateX(18px);
      }

    }
    &__discount {
       background-color: $Light-Grayish;
       color: $Light-Red;
       height: 1rem;
       border-radius: 10px;
       padding: 1px 8px;
       margin-left: .5rem;
    }

    &__links {
      padding: 20px 40px 20px 20px;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $Grayish-Blue;
      font-weight: $fw-l;
      font-size: 15px;
      border-top: 2px solid rgba(133, 143, 173, 0.1);
    }
    &__items{
      font-size: 0.8rem;
       margin: 10px 0;
      list-style-image: url(/images/icon-check.svg);
    }
    button{
      padding: 0;
        border: none;
        background: none;
        background-color: $Dark-Desaturated-Blue;
        color: $Pale-Blue;
        border-radius: 30px;
        padding: 15px 50px;
        cursor: pointer;
        transition: all 0.2s;
        outline: none;
        &:hover {
          color: $White;
        }
      }
}
 @media (max-width: 700px) {
    .header{
      &__txt{
      margin-top: 3rem;
    }
     &__h1{
        font-size: 1.3rem;
     }
     &__h3{
       font-size: 0.9rem;
       width: 55vw;
       margin-left: 15vw;
     }
  }
   .main {
     margin: 1rem 3rem;
   }
   .main__pageviews {
     font-size: 0.9rem;
   }
   .main__page{
         display: flex;
         flex-direction: column;
         line-height: 2.5rem;
         text-align: center;
         margin-top: -0rem;
       }
       .main__price {
        display: flex;
        flex-direction: row;
       }
        #price {
        font-size: 2.3rem;
        font-weight: $fw-b;
        color: $Dark-Desaturated-Blue;
    }
     .main__dollar {
       font-size: 2.3rem;
     }
     .main__toggle{
        margin: 1rem;
        font-size: 0.75em;
     }
     .main__links  {
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      .main__discount {
        text-align: center;
      }
      .main__slider {
          margin:3rem 1rem;
      }
      .hide{
        display: none;
      }
       button{
         width: 12rem;
         height: 3rem;
         font-size: 0.9rem;
      }
  } 