<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo-App</title>
</head>
<body>
    <!-- Header Starts -->
    <header class="header">
        <div class="header__content">
        <h1 class="header__content__txt">ToDo</h1>
            <button id="dark-mode-toggle" onClick='changeColor()' title='toggle dark mode' class="header__content__txt--lbtn">
                <img src="/images/icon-sun.svg">
            </button>
        <input type="checkbox" @click="newItem" title="Add Task" class="header__content__tsk">
        <input type="text" autocomplete="off" placeholder="Add Task" v-model="tasks.name" @keyup.enter="newItem"
            class="header__content__task__input">
        </div>
    </header>
    <!-- Header Ends -->

    <!-- Main Starts -->
    <main class="task">
       <ul class="task__list">
         <li class="task__list__items" v-for="task in task">
             <label class="task__list__item__label">
                 <input type="checkbox">
                 <span>{{task.name}}</span>
             </label>

             <span @click="RemoveItem(task)"
             class="Remove--icon" title="Remove Task">
            {{task.Remove}}</span>
         </li>
       </ul>
    </main>
    <!-- Main Ends -->
</body>
</html>