// Typography
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$ff-s:'Josefin Sans', sans-serif;

$fw-n:400;
$fw-b:700;













// Color
// Light Theme Colors
$lt-lGray:hsl(0, 0%, 98%);
$lt-VlGrayish-Blue:hsl(236, 33%, 92%);
$lt-VGrayish-Blue:hsl(233, 11%, 84%);
$lt-DGrayish-Blue:hsl(236, 9%, 61%);
$lt-VDGrayish-Blue:hsl(235, 19%, 35%);

// Dark Theme Colors
$dt-Dark-Blue: hsl(235, 21%, 11%);
$dt-Desaturated-Blue:hsl(235, 24%, 19%);
$dt-Grayish-Blue:hsl(234, 39%, 85%);
$dt-lGrayish-Blue: hsl(236, 33%, 92%);
$dt-dGrayish-Blue:hsl(234, 11%, 52%);
$dt-vdGrayish-Blue:hsl(233, 14%, 35%);
$dt-Grayish-Blue:hsl(237, 14%, 26%);


// Primary
$bright-Blue: hsl(220, 98%, 61%);
// $background: linear-gradient(to right,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$background:linear-gradient(to left, hsl(192, 100%, 67%) 50%, hsl(280, 87%, 65%) 50%);